---
import { turso } from "../lib/turso"
import type { Guest } from "../types/types"

const { rows } = await turso.execute('SELECT * FROM Guests') as unknown as { rows: Guest[] }
const totalGuests = rows.length
const confirmedGuests = rows.filter(guest => guest.attendance === '1').length
const declinedGuests = rows.filter(guest => guest.attendance === '-1').length
---

<div class="container mx-auto p-6">
  <h1 class="text-2xl font-bold mb-6">Lista de invitados</h1>

    <p class="mb-4 text-gray-600">✅ Invitados confirmados: {confirmedGuests}</p>
    <p class="mb-4 text-gray-600">❌ Invitados que han rechazado: {declinedGuests}</p>
    <p class="mb-4 text-gray-600">Invitados totales: {totalGuests}</p>

  <div class="overflow-x-auto bg-white shadow-xl rounded-xl">
    <table class="min-w-full table-auto">
      <thead class="bg-gray-100">
        <tr>
          <th class="text-left px-4 py-2">Nombre</th>
          <th class="text-left px-4 py-2">Asistencia</th>
          <th class="text-left px-4 py-2">Link generado</th>
        </tr>
      </thead>
      <tbody>
        {
          rows.map((guest) => (
            <tr class="border-t border-gray-200 hover:bg-yellow-50 transition">
              <td class="px-4 py-2 font-medium">{guest.name}</td>
              <td class="px-4 py-2">
                {
                  guest.attendance === '1'
                    ? <span class="text-green-600 font-semibold">✔ Confirmado</span>
                    : <span class="text-gray-400">No confirmado</span>
                }
              </td>
              <td class="px-4 py-2">
                <a href={`/guest/${guest.token}`} class="text-blue-600 hover:underline">Link invitación</a> 
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</div>
